<h1>Editing pokemon type</h1>

<%= render "form", pokemon_type: @pokemon_type %>

<br>

<div>
  <%= link_to "Show this pokemon type", @pokemon_type %> |
  <%= link_to "Back to pokemon types", pokemon_types_path %>
</div>
