<div id="<%= dom_id type %>">
  <p>
    <strong>Typeid:</strong>
    <%= type.typeId %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= type.name %>
  </p>

  <p>
    <strong>Class:</strong>
    <%= type.class %>
  </p>

</div>
