<p style="color: green"><%= notice %></p>

<h1>Types</h1>

<div id="types" class="container">
  <% @types.each do |type| %>
    <div class="row tab-row">
      <%= render type %>
      <div class="col-sm showcol">
        <%= link_to "Show this type", type %>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "New type", new_type_path %>
