<h1>About this site</h1>

<h3>About the Plan</h3>

<p>This site is meant for the intro to rails project in the ADEV-3008 Full Stack Web Development course at Red River College</p>

<h3>About the Author</h3>

<p>Hello! I'm Cameron Foy, the creator of this site. I am a student of the BIT program at Red River College</p>

<h3>About the Data</h3>

<p>
The data on this site is provided by <a href="https://pokeapi.co">PokeAPI</a>, a RESTful API that contains information on Pokemon, their Moves, Abilities, Types and much more!<br>
Included below is an ERD of the data that I have pulled from this API and stored in the project DB for learning purposes.
</p>


<img src="/Docs/pokemon_on_rails.png" alt="Entity Relationship Diagram of PokeAPI">