<p style="color: green"><%= notice %></p>

<h1>Moves</h1>

<div id="moves" class="container">
  <% @moves.each do |move| %>
    <div class="row tab-row">
      <%= render move %>
      <div class="col showcol">
        <%= link_to "Show this move", move %>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "New move", new_move_path %>
