<div class="col border-right">
  <strong>Abilityid:</strong>
  <%= ability.id %>
</div>

<div class="col border-right">
  <strong>Name:</strong>
  <%= ability.name %>
</div>

<div class="col border-right">
  <strong>Effect:</strong>
  <%= ability.effect %>
</div>
