<h1>Editing pokemon move</h1>

<%= render "form", pokemon_move: @pokemon_move %>

<br>

<div>
  <%= link_to "Show this pokemon move", @pokemon_move %> |
  <%= link_to "Back to pokemon moves", pokemon_moves_path %>
</div>
